/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: "Montserrat";
    width: 80%;
    margin: auto;
}
img {
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* HEADER */
header > div{
    margin: 20px 0px;
}
.logo-container {
    width: 15%;
    padding-right: 20px;
    border-right: solid 1px #d8d8d8;
}
.menu li {
    display: inline-block;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    list-style-type: none;
}
.menu a{
    color: #8f8f8f;
    text-decoration: none;
}
/* banner */
.imgfit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner {
    position: relative;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
}
.banner-text {
    font-size: 22px;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 80px;
    width: 50%;
}
/* MAIN */
main {
    margin: 20px 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.head {
    margin-bottom: 20px;
}
.head h1 {
    font-size: 40px;
}
.head p {
    color: #8f8f8f;
}
/* three main section */
.col {
    float: left;
    margin-bottom: 20px;
    height: 600px;
}
.img-container {
    position: relative;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main h3 {
    color: black;
    font-weight: 900;
    margin: 20px 0;
}
.text-container {
    color: #8f8f8f;
}
.middle {
    width: 50%;
    margin: 0 2%;
}
.right, .left {
    width: 23%;
}
/* FOOTER */
footer {
    background-color: blueviolet;
    height: 100px;
}